body {
	margin: 0;
}

header {
	display: flex;
	background-color: lightgrey;
	width: 100%;
	align-items: center;
}

.title {
	display: flex;
	font-family: 'Quicksand', sans-serif;
	margin: 0 0 0 50px;
	width: 100%;
	align-items: center;
	font-size: 20px;
}

.ul-items {

	display: flex;
	padding: 10px 50px 10px 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 10px;
}



.items {
	width: 60px;
	height: 60px;
	display: flex;
	margin: 0 10px;
	align-items: center;
    justify-content: center;
}

.items:hover {
	background-color: gray;

}

.catalog {
	display: none;
}

.welcome-message {
	text-align: center;
	background-color: lightsteelblue;
	padding: 5%;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
}

.section-title {
	text-align: center;
	margin: 50px 30px 30px;
	font-size: 50px;
}

.content-box-group {
	display: flex;
	justify-content: center;
	text-align: center;
}

.content-box {
	background-color: lightslategray;
	margin: 20px 20px;
	max-width: 580px;
	padding: 10px 200px 200px;
	text-align: center;
	font-size: 30px;
}

.call-to-action {
	text-align: center;
	background-color: lightskyblue;
	padding: 12px;
	width: 200px;
	margin: 20px auto;
	font-size: 30px;
}




@media (min-width: 501px) and (max-width: 800px) {
	
	header {
		display: grid;
		background-color: lightgrey;
		width: 100%;
		justify-content: center;
	}
	
	.title {
		font-size: 30px;
		margin: 50px 0;
		justify-content: center;
		width: 100%;
		z-index: 1;
	}
	
	.ul-items {
		display: none;
	}

	.items {
		display: none;
	}

	/*.catalog {
		display: flex;
		width: 10%;
		height: 10%;
	}
	*/

	.menu-icon {
		width: 100%;
		margin: 0 auto 50px;
		z-index: 2;
		justify-content: center;
		align-items: center;
	}

	.menu-icon-bar {
		width: 50%;
		height: 2px;
		background-color: black;
		margin: 2px auto;

	}

	.welcome-message {
		font-size: 45px;
	}

	.section-title {
		text-align: center;
		margin: 5% 3% 3%;
		font-szie: 30px;
	}

	.content-box-group {
		display: flex;
		justify-content: center;
		text-align: center;
	}

	.content-box {
		background-color: lightslategray;
		margin: 1% 1%;
		max-width: 80%;
		padding: 2% 5% 15%;
		text-align: center;
		font-size: 20px;
		width: 95%;
	}

	.call-to-action {
		text-align: center;
		background-color: lightskyblue;
		padding: 2%;
		width: 25%;
		margin: 2% auto;
		font-size: 20px;
	}
}

@media (max-width: 500px) {
	header {
		display: grid;
		background-color: lightgrey;
		width: 100%;
		justify-content: center;
	}
	
	.title {
		font-size: 30px;
		margin: 50px 0;
		justify-content: center;
		width: 100%;
		z-index: 1;
	}
	
	.ul-items {
		display: none;
	}

	.items {
		display: none;
	}

	/*.catalog {
		display: flex;
		width: 10%;
		height: 10%;
	}
	*/

	.menu-icon {
		width: 100%;
		margin: 0 auto 50px;
		z-index: 2;
		justify-content: center;
		align-items: center;
	}

	.menu-icon-bar {
		width: 50%;
		height: 2px;
		background-color: black;
		margin: 2px auto;

	}

	.welcome-message {
		font-size: 45px;
	}

	.section-title {
		text-align: center;
		margin: 5% 3% 3%;
		font-szie: 30px;
	}

	.content-box-group {
		display: flex;
		justify-content: center;
		text-align: center;
	}

	.content-box {
		background-color: lightslategray;
		margin: 1% 1%;
		max-width: 80%;
		padding: 2% 5% 15%;
		text-align: center;
		font-size: 20px;
		width: 95%;
	}

	.call-to-action {
		text-align: center;
		background-color: lightskyblue;
		padding: 2%;
		width: 25%;
		margin: 2% auto;
		font-size: 20px;
	}
}



/*import*/

/*Pulse*/
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
