body {
	margin: 0;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: lightgrey;
	font-size: 30px;
	width: 100%;
}

.title {
	text-align: left;
	margin: 0;
	width: 100%;
	padding: 25px 0 25px 50px;
}